<section class="index js-index">
    <a class="index__row wrapper -exp -f-zero -text--center" v-show="artist.show" v-for="artist in artists" href="/artist/{{artist.slug}}/" data-uuid="{{artist.uuid}}">
        <div class="index__col -column -text--left">
            <div class="index__thumbnail">
                <figure class="index__figure">
                    <img class="index__image image image--{{artist.data.featureImage.value.main.dimensions.width > artist.data.featureImage.value.main.dimensions.height ? 'wide' : 'tall'}} js-index-image" data-img-src="{{artist.data.featureImage.value.main.url}}" />
                </figure>
            </div>
        </div>
        <div class="index__col index__name -column -text--left">
            <p class="p">{{artist.data.name.value}}</p>
            <p class="p meta" v-for="type in artist.data.types.value">{{type.value.data.name.value}}</p>
        </div>
        <div class="index__col index__categories -column -text--left">
            <p class="p meta" v-for="category in artist.data.categories.value">{{category.value.data.name.value}}</p>
        </div>
        <div class="index__col index__location -column -text--left">
            <p class="p meta">{{artist.data.region.value.data.name.value}}</p>
        </div>
    </a>
</section>