/******************************************************************************
 * Font Declarations
*******************************************************************************/
@font-face {
    font-family: $sans-text-regular;
    src: url( "/fonts/GT-Walsheim-Regular.woff" ) format( "woff" ),
         url( "/fonts/GT-Walsheim-Regular.ttf" ) format( "truetype" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $sans-text-regular-oblique;
    src: url( "/fonts/GT-Walsheim-Regular-Oblique.woff" ) format( "woff" ),
         url( "/fonts/GT-Walsheim-Regular-Oblique.ttf" ) format( "truetype" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $sans-text-medium;
    src: url( "/fonts/GT-Walsheim-Medium.woff" ) format( "woff" ),
         url( "/fonts/GT-Walsheim-Medium.ttf" ) format( "truetype" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $sans-text-medium-oblique;
    src: url( "/fonts/GT-Walsheim-Medium-Oblique.woff" ) format( "woff" ),
         url( "/fonts/GT-Walsheim-Medium-Oblique.ttf" ) format( "truetype" );
    font-style: normal;
    font-stretch: normal;
}