/******************************************************************************
 * Icons
*******************************************************************************/
.icon-wrap {
    cursor: pointer;
    display: inline-block;
    margin: -20px;
    padding: 20px;
    }
.icon {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;
    }
.icon--list {
    border-top: 2px solid $black;
    height: 18px;
    width: 24px;

    &:after,
    &:before {
        background-color: $black;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        }
    &:after {
        bottom: 0;
        }
    &:before {
        margin-top: -2px;
        top: 50%;
        }
    }
.icon--search {
    border: 2px solid $black;
    border-radius: 100%;
    height: 18px;
    transition: border-color $long-duration $ease-cubic-sharp;
    width: 18px;

    &:after {
        background-color: $black;
        bottom: -3px;
        content: "";
        height: 2px;
        position: absolute;
        right: -5px;
        transform: rotate( 45deg );
        transition: background-color $long-duration $ease-cubic-sharp;
        width: 8px;
        }
    }
// .icon--back {
//     background-color: $black;
//     height: 2px;
//     width: 24px;
//     }
.icon--arrow {
    &:after,
    &:before {
        background-color: $black;
        content: "";
        height: 13px;
        left: 4px;
        position: absolute;
        width: 2px;
        }
    &:after {
        top: -10px;
        transform: rotate( 45deg );
        }
    &:before {
        top: -2px;
        transform: rotate( -45deg );
        }
}



.target--back,
.target--refine {
    display: none;
    }
.target--refine {
    .icon--arrow {
        display: none;
        }
}
