/******************************************************************************
 * Icons
*******************************************************************************/
.icon-wrap {
    cursor: pointer;
    display: inline-block;
    margin: -30px;
    padding: 30px;
    }
.icon {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;
    }
.icon--list {
    border-top: 2px solid $black;
    height: 18px;
    width: 24px;

    &:after,
    &:before {
        background-color: $black;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        }
    &:after {
        bottom: 0;
        }
    &:before {
        margin-top: -2px;
        top: 50%;
        }
    }
.icon--refine {
    border: 2px solid $black;
    border-radius: 100%;
    display: none;
    height: 18px;
    transition: border-color $long-duration $ease-cubic-sharp;
    width: 18px;

    &:after {
        background-color: $black;
        bottom: -3px;
        content: "";
        height: 2px;
        position: absolute;
        right: -5px;
        transform: rotate( 45deg );
        transition: background-color $long-duration $ease-cubic-sharp;
        width: 8px;
        }
    }
.icon--ex {
    display: none;
    height: 24px;
    width: 24px;

    &:after,
    &:before {
        background-color: $black;
        content: "";
        height: 100%;
        left: 50%;
        margin-left: -1px;
        position: absolute;
        width: 2px;
        }
    &:after {
        transform: rotate( 45deg );
        }
    &:before {
        transform: rotate( -45deg );
        }
    }
.icon--ex--close {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    right: $wrapper-padding;
    top: $expander-one;

    &:after,
    &:before {
        background-color: $white;
        }
    }