/******************************************************************************
 * Abstract Page
*******************************************************************************/
.page {
    left: 0;
    overflow: auto;
    //position: absolute;
    position: relative;
    top: 0;
    transition: opacity $fast-duration $ease;
    width: 100%;

    &.is-reactive {
        }
    &.is-inactive {
        opacity: 0;
        }
    }



/******************************************************************************
 * Defined Pages
*******************************************************************************/