/******************************************************************************
 * Abstract Page
*******************************************************************************/
.page {
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease-cubic;
    width: 100%;

    &.is-reactive {
        }
    &.is-inactive {
        opacity: 0;
        }
    }



/******************************************************************************
 * Defined Pages
*******************************************************************************/