/******************************************************************************
 * Abstract Page
*******************************************************************************/
.page {
    height: 100%;
    left: 0;
    max-height: 100%;
    overflow: auto;
    padding-top: calc( #{$header-height} - 1px );
    top: 0;
    transition: padding-left $long-duration $ease-cubic-sharp,
                transform $long-duration $ease-cubic-sharp;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    }



/******************************************************************************
 * Defined Pages
*******************************************************************************/
