/******************************************************************************
 * Meta Data
*******************************************************************************/
.meta {
    @include meta();
    }


/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include p();
    }
.ol,
.ul {
    @include li();
    }
.ol li {
    @include ol-li();
    }
.ul li {
    @include ul-li();
    }


/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    -webkit-appearance: none;
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include a();
    }
.a-link {
    color: $black;
    border-bottom: 1px solid transparent;
    display: inline;
    transition: color $fast-duration $ease;

    &.is-active {
        color: $grey-text;
        }

    p {
        display: inline;
        }
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include h1();
    }
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
.h4 {
    @include h4();
    }