/******************************************************************************
 * Meta Data
*******************************************************************************/
.m {
    @include m();
    }


/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include p();
    }
.pup {
    margin-top: 20px;
    }
.ol,
.ul {
    @include li();
    }
.ol li {
    @include ol-li();
    }
.ul li {
    @include ul-li();
    }


/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    -webkit-appearance: none;
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include a();
    transition: color $base-duration $ease;

    &:hover {
        color: $black;
        }
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include h1();
    }
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
.h4 {
    @include h4();
    }
