.animate {
    opacity: 0;
    transition: opacity $base-duration $ease-out;

    &.is-animate {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
    &.is-static {
        transition-duration: 0ms;
        }
}



.animate--lift {
    transform: translate3d( 0, $expander-one / 2, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;
    }
