/******************************************************************************
 * Classes for things...
*******************************************************************************/
.loader {
    bottom: 0;
    font-size: 0;
    height: 8px;
    left: 0;
    pointer-events: none;
    position: fixed;
    text-align: left;
    transform: translate3d( 0, 100%, 0 );
    transition: transform $base-duration $ease;
    width: 100%;
    z-index: ($z_layer_infront + 1);

    &.is-active {
        transform: translate3d( 0, 0, 0 );
        }
    }
.loader__fill {
    background-color: $black;
    display: inline-block;
    height: 100%;
    transition: width $fast-duration $ease;
    width: 0;
    }



.diptych {
    font-size: 0;
    }
.diptych__image {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    .image {
        width: 100%;
        }
    }
.diptych__left {
    padding-right: $wrapper-padding / 2;
    }
.diptych__right {
    padding-left: $wrapper-padding / 2;
    }



.video {
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }
}
.video.is-active {
    .video__poster {
        opacity: 0;
        pointer-events: none;
        }
}
.video__poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    }
.video__play {
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    width: 60px;
    }



.cover {
    height: 100vh;
    width: 100%;
    }



.squaregrid__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    }
.squaregrid__figure {
    font-size: 0;
    width: 100%;
    }
.squaregrid__photo {
    cursor: default;
    display: inline-block;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    .image {
        cursor: pointer;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        }
    .image--tall {
        height: calc( 100% - #{$expander-one} * 2 );
        width: auto;
        }
    .image--wide {
        height: auto;
        width: calc( 100% - #{$expander-one} * 2 );
        }
}



.about,
.submit {
    height: 100%;
    }
.about {
    position: relative;
    }



.about__wrap {
    max-width: 880px;
    width: 100%;
    }
.about__footer {
    bottom: $expander-one;
    position: absolute;
    }



.submit__wrap {
    position: relative;
    }
.submit__button {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    bottom: 0;
    color: $white;
    cursor: pointer;
    left: 50%;
    opacity: 0;
    outline: 0;
    padding: 9px 20px;
    pointer-events: none;
    position: absolute;
    transform: translateX( -50% ) translateY( 200% );
    transition: background-color $base-duration $ease,
                color $base-duration $ease,
                opacity $base-duration $ease;
    -webkit-appearance: none;

    &:hover {
        background-color: $white;
        color: $black;
        }
    &:focus {
        outline: 0;
        }
    }
.submit__field {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    color: $white;
    max-width: 100%;
    outline: 0;
    padding-bottom: 10px;
    text-align: center;
    max-width: 560px;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
        outline: 0;
        }
    }
.submit__message {
    pointer-events: none;
    }
.submit.is-active {
    .submit__form {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}
.submit.is-valid-field {
    .submit__button {
        opacity: 1;
        pointer-events: auto;
        }
}
.submit.is-submit {
    .submit__message {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
    .submit__form {
        display: none;
        }
}
