// Features landing
.features {
    padding-bottom: $expander-two;
    }
.features__pinned {
    position: relative;

    .features__link,
    .features__image {
        width: 100%;
        }
}
.features__link {
    display: inline-block;
    position: relative;
    }
.features__text {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY( -50% );
    }
.features__item,
.features__pinned {
    margin-bottom: $expander-two;
    }
.features__item.-text--left {
    padding-left: $expander-one;
    }
.features__item.-text--right {
    padding-right: $expander-one;
    }



// Feature detail
.feature {
    .p {
        line-height: 2;
        }
}
.feature__meta + .feature__title {
    margin-top: 20px;
    }
.feature__title--svg {
    max-width: 445px;
    width: 60%
    }
.feature__cover {
    .image {
        width: 100%;
        }
}
.feature__stacked {
    padding-bottom: 20vh;
    padding-top: 40vh;
    }
.feature__slice {
    margin-top: $expander-three;
    }
.feature__video {
    display: inline-block;
    width: 100% - $wrapper-padding-big;
    }
.feature__slice__type {
    display: inline-block;
    }
.feature__slice {
    .-text--left .single-image {
        margin-left: $wrapper-padding;
    }
    .-text--right .single-image {
        margin-right: $wrapper-padding;
    }
}
.feature__next {
    border-top: 1px solid $grey-light;
    display: block;
    margin-top: $expander-three;
    padding-bottom: $expander-three;
    padding-top: $expander-three;
    transition: color $base-duration $ease;

    &:hover {
        color: $grey-text;
        }
    }
.feature__split {
    width: 100%;
    }

// Covers...
.split__left,
.split__right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;

    .image {
        max-height: 100%;
        width: auto
        }
}

// Slices...
.text {
    .p + .p {
        margin-top: $expander-one;
        }
}
.caption {
    padding-left: 20px;
    padding-top: $expander-mobile;
    }
.single-image {
    display: inline-block;

    .image {
        width: 100%;
        }
}
.fullwidth {
    .single-image {
        width: 100%;
        }
}
.wide-landscape {
    .single-image {
        max-width: 66.796875%;
        width: 100%;
        }
}
.tite-landscape {
    .single-image {
        max-width: 42.1875%;
        width: 100%;
        }
}
.wide-vertical {
    .single-image {
        max-width: 49.609375%;
        width: 100%;
        }
}
.tite-vertical {
    .single-image {
        max-width: 27.34375%;
        width: 100%;
        }
}
.diptych {
    font-size: 0;
    }
.diptych__image {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    .image {
        width: 72.265625%;
        }
    }
.diptych__left {
    padding-right: 4%;
    }
.diptych__right {
    padding-left: 4%;
    }
