.header {
    background-color: $white;
    //border-bottom: 1px solid $grey-light;
    height: $header-height;
    left: 0;
    position: fixed;
    top: 0;
    transition: padding-left $long-duration $ease-cubic-sharp,
                transform $long-duration $ease-cubic-sharp;
    width: 100%;
    z-index: $z_layer_10;
    }
.header__wrap {
    width: 100%;
    }
