.header {
    background-color: $white;
    height: $header-height;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity $base-duration $ease,
                padding-left $base-duration $ease-cubic-sharp;
    width: 100%;
    z-index: $z_layer_10;

    &.is-tipinable {
        height: $header-height-tipin;
        transition: opacity $base-duration $ease,
                    padding-left $base-duration $ease-cubic-sharp,
                    transform $base-duration $ease-cubic-sharp;
        }
    }
.header__wrap {
    width: 100%;
    }
