.index {
    transition: opacity 600ms ease;
    }
.index__row {
    border-top: 1px solid $grey-light;
    display: block;
    }
.index__thumbnail {
    max-width: 300px;
    position: relative;
    width: 100%;
    }
.index__figure {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    }
.index__image {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );

    &.image--tall {
        height: 100%;
        width: auto;
        }
    &.image--wide {
        height: auto;
        width: 100%;
        }
    }
.index__filters {
    border-top: 1px solid $grey-light;
    display: none;

    &.is-active {
        display: block;
        }
    }
.index__col {
    width: 25%;
    }
.index__col:not( :first-child ) {
    padding-left: $expander-two;
    }



.artist__info {
    left: 0;
    position: fixed;
    top: 50%;
    transform: translateY( -50% );
    transition: opacity $base-duration $ease;

    &.is-inactive {
        opacity: 0;
        }
    }
.artist__info__item {
    display: block;
    }
.artist__info__item + .artist__info__item {
    margin-top: $mobile-padding;
    }
.artist__gallery {
    width: 40%;
    }
.artist__gallery__video {
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }
}
.artist__gallery__video.is-active {
    .artist__gallery__poster {
        opacity: 0;
        pointer-events: none;
        }
}
.artist__gallery__poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    }
.artist__gallery__play {
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    width: 60px;
    }
.artist__gallery {
    padding-bottom: $expander-three;
    }
.artist__related {
    padding-bottom: $expander-three;
    }
.artist__related__label {
    border-bottom: 1px solid $grey-light;
    padding-bottom: $expander-two;
    margin-bottom: $expander-one;
    }
.artist__related__meta {
    display: inline-block;
    padding-top: $mobile-padding;
    }
.artist__related__col {
    span + span {
        &:before {
            content: " / ";
            }
        }
}
