.index {
    transition: opacity 600ms ease;
    }
.index__row {
    border-top: 1px solid $grey-light;
    display: block;
    }
.index__thumbnail {
    max-width: 300px;
    position: relative;
    width: 100%;
    }
.index__figure {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    }
.index__image {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );

    &.image--tall {
        height: 100%;
        width: auto;
        }
    &.image--wide {
        height: auto;
        width: 100%;
        }
    }
.index__filters {
    border-top: 1px solid $grey-light;
    display: none;

    &.is-active {
        display: block;
        }
    }
.index__name,
.index__categories {
    a {
        display: block;
        }
}
.index__col {
    width: 25%;
    }
.index__col:not( :first-child ) {
    padding-left: $expander-two;
    }
