.index {
    transition: opacity 600ms ease;
    }
.index__row {
    border-top: 1px solid $grey-light;
    display: block;
    }
.index__thumbnail {
    max-width: 300px;
    position: relative;
    width: 100%;
    }
.index__figure {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    }
.index__image {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );

    &.image--tall {
        height: 100%;
        width: auto;
        }
    &.image--wide {
        height: auto;
        width: 100%;
        }
    }
.index__filters {
    border-top: 1px solid $grey-light;
    display: none;

    &.is-active {
        display: block;
        }
    }
.index__col {
    width: 25%;
    }
.index__col:not( :first-child ) {
    padding-left: $expander-two;
    }



.artist__info {
    left: 0;
    position: fixed;
    top: 50%;
    transform: translateY( -50% );
    }
.artist__info__item {
    display: block;
    }
.artist__info__item + .artist__info__item {
    margin-top: $mobile-padding;
    }
.artist__gallery {
    width: 40%;
    }
.artist__other__thumbnail {
    max-width: none;
    }
.artist__other__meta {
    display: inline-block;
    padding-top: $mobile-padding;
    }
.artist__other__col {
    span + span {
        &:before {
            content: " / ";
            }
        }
}
