/******************************************************************************
 * Nav Menu
*******************************************************************************/
.nav__wrap {
    pointer-events: none;
    }
.nav__svg {
    fill: $white;
    height: 40px;
    }
.nav__logo,
.nav__menu {
    pointer-events: auto;
    }
.nav__menu__li {
    display: block;
    vertical-align: middle;

    &:not( :first-child ) {
        margin-left: $expander-one;
        }
    }
.nav__menu__a {
    cursor: pointer;

    &.is-active {
        color: $white;
        }
    }
.nav__menu__primary + .nav__menu__tertiary {
    margin-top: 30px;
    }
.nav__menu__tertiary .nav__menu__a {
    line-height: 2;
    }
