/******************************************************************************
 * Nav Menu
*******************************************************************************/
.nav__menu {}
.nav__menu__li {
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;

    &:not( :first-child ) {
        margin-left: $expander-one;
        }
    }
