.screen {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $fast-duration $ease;
    z-index: ($z_layer_infront + 1);

    &.is-active {
        opacity: 1;
        -webkit-overflow-scrolling: touch;
        }
    }



.screen.ghost > .ghost__child {
    width: 100%;
    }



.intro {
    background-color: $spot;
    }