/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Sans-serif
*******************************************************************************/
@mixin font-sans-text() {
    font-family: $sans-text-regular;
    @include font-normal();
}
@mixin font-sans-medium() {
    font-family: $sans-text-medium;
    @include font-normal();
}
@mixin font-sans-oblique() {
    font-family: $sans-text-regular-oblique;
    @include font-normal();
}
@mixin font-sans-medium-oblique() {
    font-family: $sans-text-medium-oblique;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin m() {
    font-size: $m-size;
    line-height: 1.625;
    @include font-sans-text();
}
@mixin p() {
    font-size: $p-size;
    line-height: 1.6;
    @include font-sans-text();
}
@mixin a() {
    color: $black;
    display: inline;
    font-size: $p-size;
    text-decoration: none;
    @include font-sans-text();
}
@mixin em() {
    @include font-sans-oblique();
}
@mixin strong() {
    @include font-sans-medium();
}
@mixin h1() {
    font-size: $h1-size;
    line-height: 1.333333;
    @include font-sans-text();
}
@mixin h2() {
    font-size: $h2-size;
    line-height: 1.5;
    @include font-sans-text();
}
@mixin h3() {
    font-size: $h3-size;
    line-height: 1.5625;
    @include font-sans-text();
}
@mixin h4() {
    font-size: $h4-size;
    line-height: 1.4286;
    @include font-sans-text();
}
