<article class="artist js-artist -wrap -exp -f-zero -text--center" data-id="<%= document.id %>">
    <p class="p">{{data.name.value}}</p>
    <p class="p">{{data.city.value.data.name.value}}</p>
    <p class="p">
        <a href="{{data.website.value}}" class="a" target="_blank">Website</a>
    </p>
    <div class="artist__gallery -column -column--1of4">
        <img v-for="galleryImage in data.gallery.value" class="artist__gallery__image image js-artist-image -exp" data-img-src="{{galleryImage.value.image.url}}" />
    </div>
</article>