/******************************************************************************
 * Display
*******************************************************************************/
.-exp {
    padding-bottom: $expander-one;
    padding-top: $expander-one;
    }
.-exp-t {
    padding-top: $expander-one;
    }
.-exp-tt {
    padding-top: $expander-one * 2;
    }
.-exp-b {
    padding-bottom: $expander-one;
    }
.-exp-m {
    padding-bottom: $expander-mobile;
    padding-top: $expander-mobile;
    }
.-wrap {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    }
.-wrap-l {
    padding-left: $wrapper-padding;
    }
.-wrap-r {
    padding-right: $wrapper-padding;
    }
.-bump {
    margin-top: $mobile-padding;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Fills
*******************************************************************************/
.-bg--light {
    background-color: $white;
    }
.-bg--black {
    background-color: $black;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-grey {
    color: $grey-text;
    }
.-light {
    color: $white;
    }
.-black {
    color: $black;
    }
.-caps {
    letter-spacing: 2px;
    text-transform: uppercase;
    }



.-f-zero {
    font-size: 0;
    }
