/******************************************************************************
 * Display
*******************************************************************************/
.-cinema {
    padding-bottom: $cinema-aspect;
    }
.-exp {
    padding-bottom: $expander-one;
    padding-top: $expander-one;
    }
.-exp-m {
    padding-bottom: $expander-mobile;
    padding-top: $expander-mobile;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Fills
*******************************************************************************/
.-bg--light {
    background-color: $white;
    }
.-bg--black {
    background-color: $black;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-light {
    color: $white;
    }
.-black {
    color: $black;
    }
.-grey {
    color: $grey-text;
    }



.-f-zero {
    font-size: 0;
    }
.-valign-top {
    vertical-align: top;
    }