/******************************************************************************
 * Responsive
*******************************************************************************/
@media only screen and ( max-width: 960px ) {
    .-col {
        box-sizing: border-box;
        }
}



@media only screen and ( min-width: $break-laptop-full ) {
    .index__row {
        padding-left: $wrapper-padding-big;
        padding-right: $wrapper-padding-big;
        }
}
@media only screen and ( max-width: $break-laptop-full ) {
    .artist__gallery {
        margin-left: $wrapper-padding;
        }
    .about__wrap {
        max-width: 850px;
        }
    .intro__svg {
        width: 150px;
        }
}



@media only screen and ( min-width: $break-laptop-medium ) {
    .header__left {
        padding-left: $expander-two;
        }
    .header__right {
        padding-right: $expander-two;
        }
    .artist__info {
        padding-left: $expander-two;
        }
}
@media only screen and ( max-width: $break-laptop-medium ) {
    .h1 {
        font-size: $h2-size;
        }
    .header,
    .search,
    .refine-clear {
        height: $header-height-small;
        }
    .page {
        padding-top: $header-height-small;
        }
    .index__col:not( :first-child ) {
        padding-left: $expander-one;
        }
    .refine,
    .refine-clear {
        width: 320px;
        }
    .filter,
    .refine-clear,
    .search__field {
        padding-left: $expander-one;
        }
    .is-refine-open {
        .page,
        .header {
            padding-left: 320px;
            }
    }
    .is-refine-clearable {
        .filter {
            padding-bottom: $expander-one + $header-height-small;
            }
    }
    .features__item.-text--left {
        padding-left: 0;
        }
    .features__item.-text--right {
        padding-right: 0;
        }
}



@media only screen and ( max-width: $break-ipad-pro-width ) {
    .artist__related__col {
        width: 50%;
        }
    .squaregrid__item {
        padding-bottom: $expander-two;
        }
    .feature__cover--split {
        height: auto;
        }
    .split__left,
    .split__right {
        width: 100%;
        }
    .feature__split--left >  {
        .split__left {
            padding-bottom: $expander-two;
            padding-top: 20vh;
            }
    }
    .feature__split--right >  {
        .split__left {
            padding-bottom: $expander-two;
            padding-top: 40vh;
            }
    }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .is-refine-open {
        .page,
        .header {
            padding-left: 0;
            transform: translate3d( 320px, 0, 0 );
            }
    }
    .artist__info {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
        position: relative;
        top: auto;
        transform: none;
        }
    .artist__gallery {
        margin-left: 0;
        padding-left: $wrapper-padding;
        padding-right: $wrapper-padding;
        width: 100%;
        }
    .artist__gallery__item {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
        }
    .artist__gallery .image {
        width: 100%;
        }
    .features__item,
    .features__pinned {
        margin-bottom: $expander-one;
        }
}



@media only screen and ( max-width: $break-tablet-small ) {
    .h1 {
        font-size: $h1-size-mobile;
        line-height: 1.2;
        }
    .h2,
    .feature__title {
        font-size: $h2-size-mobile;
        line-height: 1.2;
        }
    .h3 {
        font-size: $h3-size-mobile;
        }
    .h4 {
        font-size: $h4-size-mobile;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    $header-height: 80px;

    .p {
        font-size: $p-size-mobile;
        }
    .caption {
        font-size: $m-size-mobile;
        }
    .text .p + .p {
        margin-top: $expander-mobile;
        }
    .nav__menu__primary .h4 {
        font-size: $h3-size-mobile;
        }
    .-col,
    .-wrap,
    .wide-landscape,
    .tite-landscape,
    .wide-vertical,
    .tite-vertical {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .-wrap-l {
        padding-left: $expander-mobile;
        }
    .-wrap-r {
        padding-right: $expander-mobile;
        }
    .index__row {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
        }
    .index__feature {
        width: 40%;
        }
    .index__name {
        width: 60%;
        }
    .index__categories,
    .index__location {
        display: none;
        }
    .header,
    .search {
        height: $header-height;
        }
    .refine,
    .refine-clear {
        width: 80%;
        }
    .refine-label {
        padding-left: 20px;
        }
    .filter {
        padding-top: $expander-mobile;
        }
    .filter,
    .refine-clear,
    .search__field {
        padding-left: 50px;
        }
    .page {
        padding-top: $header-height;
        }
    .artist__gallery {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .artist__gallery__item {
        padding-bottom: $expander-mobile / 2;
        padding-top: $expander-mobile / 2;
        }
    .artist__related__col {
        width: 100%;
        }
    .nav__menu__li {
        display: block;

        &:not( :first-child ) {
            margin-left: 0;
            }
    }
    .is-refine-open {
        .index {
            opacity: 0.5;
            pointer-events: none;
            }

        .page {
            padding-left: 0;
            transform: translate3d( 80%, 0, 0 );
            }
        .header {
            padding-left: 0;
            transform: translateX( 80% ) !important;
            transition: padding-left $base-duration $ease-cubic-sharp,
                        transform $base-duration $ease-cubic-sharp !important;
            }
    }
    .about {
        height: auto;
        padding-right: 50px;
        padding-top: $expander-one;
        }
    .about__footer {
        bottom: auto;
        padding-bottom: $expander-one;
        position: relative;
        }
    .feature__video {
        width: calc( 100% - #{$expander-one} );
        }
    .diptych__image {
        display: block;
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        text-align: center;
        width: 100%;

        .image {
            width: 100%;
            }
    }
    .diptych__left {
        margin-bottom: $expander-mobile;
        }
    .intro__svg {
        width: 150px;
        }
    .nav__logo {
        display: none;
        }
    .artist__gallery {
        padding-bottom: $expander-two;
        }
    .is-index-page {
        .target--grid {
            display: none;
            }
    }
    .squaregrid__item {
        padding-bottom: $expander-one;
        }
    .squaregrid__photo {
        padding-bottom: 0;

        .image {
            height: auto;
            left: auto;
            position: relative;
            top: auto;
            transform: none;
            width: auto;
            }
    }
    .artist__related__meta {
        padding-top: $expander-mobile;
        }
    .features__item,
    .features__pinned {
        margin-bottom: $expander-mobile / 2;
        }
    .wide-landscape,
    .tite-landscape,
    .wide-vertical,
    .tite-vertical {
        .single-image {
            margin: 0 !important;
            max-width: 100%;
            }
    }
    .feature__slice {
        margin-top: $expander-mobile;
        }
    .feature__cover + .feature__slice {
        margin-top: $expander-one;
        }
    .feature__meta + .feature__title {
        margin-top: 10px;
        }
    .features {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        }
    .feature__next {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
        margin-top: $expander-one;
        }
    .feature__stacked,
    .feature__split--right > .split__left {
        padding-bottom: $expander-one;
        padding-top: 30vh;
        }
    .feature__split--left > .split__left {
        padding-bottom: $expander-one;
        padding-top: 20vh;
        }
    .about__footer span {
        display: block;
        }
    .about__footer span + span:before {
        display: none;
        }
}
