/******************************************************************************
 * Responsive
*******************************************************************************/
@media only screen and ( max-width: ($break-laptop-medium + 1px) ) {
    $header-height: 90px;

    .header,
    .search {
        height: $header-height;
        }
    .page {
        padding-top: $header-height;
        }
    .index__col:not( :first-child ) {
        padding-left: $expander-one;
        }
    .refine {
        width: 320px;
        }
    .filter {
        padding-left: $expander-one;
        }
    .is-refine-open {
        .page,
        .header {
            padding-left: 320px;
            }
    }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .index .p,
    .refine .p {
        font-size: $meta-size;
        }
    .artist__info {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
        position: relative;
        top: auto;
        transform: none;
        }
    .is-refine-open {
        .page,
        .header {
            padding-left: 0;
            transform: translate3d( 320px, 0, 0 );
            }
    }
}



@media only screen and ( max-width: $break-mobile-full ) {
    .-wrap {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }
    .-wrap-l {
        padding-left: $expander-mobile;
        }
    .-wrap-r {
        padding-right: $expander-mobile;
        }
    .index .p,
    .filter .p {
        line-height: 2;
        }
    .index__row {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
        }
    .index__feature {
        width: 40%;
        }
    .index__name {
        width: 60%;
        }
    .index__categories,
    .index__location {
        display: none;
        }
    .header,
    .search {
        height: 80px;
        }
    .refine {
        width: 80%;
    }
    .filter {
        padding-left: $expander-mobile;
        padding-top: $expander-mobile;
    }
    .page {
        padding-top: calc( 80px - 1px );
        }
    .artist__gallery {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        width: 100%;
        }
    .artist__gallery__image {
        padding-bottom: 0;
        padding-top: $expander-mobile;
    }
    .nav__menu__li {
        display: block;

        &:not( :first-child ) {
            margin-left: 0;
            }
    }
    .search__field {
        padding-left: $expander-mobile;
        }
    .is-refine-open {
        .index {
            opacity: 0.5;
            pointer-events: none;
            }

        .page,
        .header {
            padding-left: 0;
            transform: translate3d( 80%, 0, 0 );
            }
    }
}
