/******************************************************************************
 * Document States
*******************************************************************************/
.is-hoverable {}

.is-hidden {
    display: none;
}

.is-neverflow {
    overflow: hidden;
}

.is-clipped {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.is-menu-open {
    .page {
        pointer-events: none;
        }
}

.is-refine-open {
    .refine {
        transform: translate3d( 0, 0, 0 );
        }
    .refine-label {
        opacity: 0;
        }
    .page,
    .header {
        padding-left: $filter-width;
        }
    .icon--search {
        display: none;
        }
    .icon--arrow {
        display: inline-block;

        &:after,
        &:before {
            background-color: $grey-text;
            }
        }
}

.is-index-page {
    .target--refine {
        display: inline-block;
        }
}

.is-artist-page {
    .target--back {
        display: inline-block;
        }
}

.is-black-page {
    background-color: $black;

    .header {
        background-color: transparent;
        }
    .icon--list {
        border-top-color: $white;

        &:after,
        &:before {
            background-color: $white;
            }
        }
}
